
* {
    font-family: 'Open Sans', sans-serif;
   

}
nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 5px 20px;
    padding: 10px;
}

.bar {
    list-style-type: none;
    font-weight: 300;
    font-size: 15px;
    width: 40%;
    float: right;
    display: inline-block;
    top: 3px;
}

nav, .bar {
    margin: 5px 10px;
    height: 30px;
}
ul {
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
li {
    display: inline-block;
    padding-left: 20px;
}
body {
    padding: 15px;
}

header {
    position: relative;
    height: 150px;
}
.clearfix {
    clear: both;
}
a {
    text-decoration: none;
}
.list_anchor {
    color: #000;
}
   
.btn_anchor {
    color: #f9fafc;
}
.hire_btn {
    background-color: #000;
    border-radius: 15px;
}
.scroll_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
    background-color: #000;
    border-radius: 15px;
}

.hire {
    text-decoration: none;
    background: #000;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

p {
    position: relative;
    width: 500px;
    top: -20px;
    padding-left: 20px;
    color: #000;
}

.words {
    float: left;
    height: 80px;
    border-left-style: inset;
    color: #69696a;
    margin: 10px;

}
.circles {
    position: relative;
    left: 750px;
    bottom: -100px;

}

.pink {
    height: 300px;
    background-color: rgba(247, 136, 167, 0.6);
    width: 300px;
    border-radius: 50%;
    position: absolute;  
}
.purple {
    height: 150px;
    background-color: rgba(207, 130, 213, 0.6);
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 235px;
    bottom: -150px;
}
.peach {
    height: 200px;
    background-color: rgba(247, 193, 162, 0.7);
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 235px;
    bottom: -320px;
}
